<div class="container__small-card">
  <div class="small-card__photo">
    <img src="https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-abstrato-de-videos-de-instrucoes_335657-3680.jpg?w=360" alt="Imagem do Card" loading="lazy" />
  </div>

  <div class="small-card__content">
    <div class="small-card__title">
      <span class="small-card__date">Março 13 2025</span>
      <h2><a href="#">Lorem Ipsum is simply dummy text </a></h2>
    </div>
  </div>
</div>
<div class="small-card__separator">
  <hr />
</div>
