<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card Id="1" photoCover="https://img.freepik.com/vetores-gratis/blogar-divertido-criacao-de-conteudo-streaming-online-videoblog-jovem-fazendo-selfie-para-rede-social-compartilhando-feedback-estrategia-de-autopromocao-ilustracao-vetorial-de-metafora-de-conceito_335657-855.jpg" spanDate="Março 13 2025" cardTitle="Desvendando o futuro, um código de cada vez." cardDescription="No mundo acelerado da tecnologia, cada linha de código é um passo em direção ao futuro. Aqui, exploramos as últimas tendências, descobrimos novas soluções e mostramos como a programação pode transformar ideias em realidade. Seja você um iniciante ou um desenvolvedor experiente, este é o espaço para desvendar o futuro da tecnologia, um código de cada vez.">
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card Id="2" cardTitle="Onde tecnologia e criatividade se encontram." photoCover="https://images.yourstory.com/cs/1/8817a2f0-ce40-11e9-afdd-33aa42346f98/lifi-theme-young-man1567679576812.jpg?mode=crop&crop=faces&ar=16%3A9&format=auto&w=1920&q=75">
    </app-small-card>

    <app-small-card Id="3" cardTitle="A revolução digital começa aqui." photoCover="https://images.yourstory.com/cs/1/8817a2f0-ce40-11e9-afdd-33aa42346f98/lifi-theme-young-man1567679576812.jpg?mode=crop&crop=faces&ar=16%3A9&format=auto&w=1920&q=75">
    </app-small-card>

    <app-small-card Id="4" cardTitle="Explorando o código-fonte do futuro." photoCover="https://images.yourstory.com/cs/1/8817a2f0-ce40-11e9-afdd-33aa42346f98/lifi-theme-young-man1567679576812.jpg?mode=crop&crop=faces&ar=16%3A9&format=auto&w=1920&q=75">
    </app-small-card>
  </div>
</div>
