
.container__articles {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 700px) {
    flex-direction: row;
    justify-content: center;
  }
}

.articles__others {
  margin-top: 10px;
}
